@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

main {
    background-color: hsl(218, 23%, 16%);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Manrope', sans-serif;
}